body {
    font-family: 'Lato', sans-serif;
}

h1 {
    cursor: pointer;
}

/* The .navBar class styles the navigation bar at the top of the page. */
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vw;
    width: 100%;
    color: #2B2B2B;
    background: #FDFDFD;
    border-bottom: 0.01em solid #a9a9a9;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 1vw;
    z-index: 99;
}

/* classes style the individual navigation links. */
.navBar .name, .navBar .home, .navBar .about, .navBar .shop, .navBar .contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 3%;
}

/* classes style the paragraphs within the navigation links. */
.navBar .name p, .navBar .home p, .navBar .about p, .navBar .shop p, .navBar .contact p {
    margin: 0;
    align-self: center;
    cursor: pointer;
}

/* The .right-content class styles the checkout button of the navigation bar. */
.right-content {
    margin-right: 1%;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
}

/* The .navBar img class styles the images within the navigation bar. */
.navBar img {
    order: 2;
    height: 75%;
    cursor: pointer;
}

#count {
    position: absolute;
    top: 0;
    right: 0;
    background: #FF0000;
    color: #FDFDFD;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-weight: bold;
    z-index: 100;
}
